.HeroSection {
    width: 100%;
    right: 0;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.HeroSection_box { 
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    width: 30rem;
}

.HeroSection_box_heading { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.HeroSection_box_input { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: .5rem;
    padding-left: 2rem;
    margin-top: 1rem;
}

.HeroSection_box_input input { 
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #fb8c00;
    font-size: 1.2rem;
}

.HeroSection_box_input button { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: none;
    line-height: 0;
    background-color: black;
    color: white;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.HeroSection_box_btn { 
    background-color: black;
    color: white;
    border: 0;
    outline: 0;
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

@media only screen and (max-width: 35em) {
    .HeroSection { 
        display: none;
        width: 95%;
    }

    .HeroSection_box { 
        width: 95%;
    }

    .HeroSection_box_input input {
        width: 50%;
    }
}