@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  color: #1F242E;
  font-family: 'Roboto', sans-serif;


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

#myThreeJsCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  
}

.main { 
  background-color: transparent;
  display: flex;
  min-height: 80vh;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.main h1 {
  padding: 10px 20px;
  margin-left: 50px;
  font-size: 4rem;
  text-align: left;
  margin-top: 0px;
}

.pretitle {
  text-align: left;
  font-size: 18px;
  text-align: left;
  margin-left: 70px;
}

.highlight {
  color: #fb8c00;
  font-weight: 700;
}

.betatag p {
  background-color: green;
  font-size: 12px;
  padding: 3px 3px;
  margin-bottom: 10px;
  margin-left: 70px;
  width: 108px;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: bold;
}

.bottom { 
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 20px;
  margin-left: 70px;
}

.bottom-github {
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 30px;
  right: 70px;
}
.bottom p {
  margin-bottom: 10px;
}

.whitelist {
  margin-left: 70px;
}

.join {
  font-size: 18px;
  margin-bottom: 2px;
}

.already-joined { 
  font-size: 14px;
}

.number-joined {
  color: #fb8c00;
  font-weight: bold;
}

.connect-button {
  border: 1px solid #fb8c00;
  outline: none;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 18px;
  background: transparent;
  color: #fb8c00;
  cursor: pointer;
  margin-top: 10px;
}

.whitelist-button { 
  border: 1px solid #fb8c00;
  outline: none;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 18px;
  background: transparent;
  color: #fb8c00;
  cursor: pointer;
  margin-top: 10px;
}

.whitelist-button:hover {
  background: #fb8c00;
  color: white;
}

.connect-button:hover {
  background: #fb8c00;
  color: white;
}

.swap {
  margin-right: 70px;
  right: 0;
  position: absolute;
}

@media only screen and (max-width: 35em) {
  .main h1 { 
    color: white;
    margin-left: 30px;
  }
  .highlight { 
    color: white;
  }
  .pretitle { 
    color: white;
    margin-left: 50px;
  }
  .bottom {
    margin-left: 50px;
    margin-bottom: 60px;
  }
  .bottom-github {
    margin-left: 50px;
    left: 0;
  }

  .betatag p {
    margin-left: 50px;
  }
}